[submodule "ace-plug-kit"]
	path = ace-plug-kit
	url = https://github.com/bognaum/ace-plug-kit.git
[submodule "line-format-diagram"]
	path = line-format-diagram
	url = https://github.com/bognaum/line-format-diagram.git
