div.lfd {
	color: $main_c;
	margin: 5px;
	padding: 5px;
	
	.lfd-part {
		.lfd-line-text {
			color: $green;
			font-size: 20px;
		}
	}
	.lfd-part.red-descr {
		.lfd-h-line.red-descr {
			border-color: $red;
		}
		.lfd-td-block.red-descr {
			color: $red;
		}
	}
	.lfd-part.red-content {
		.lfd-line-text {
			color: $red;
		}
	}
}

.lfd {
	filter: blur(10px);
	&.executing,
	&.executed {
		filter: none;
	}
}
.lfd-edit {
	.lfd {
		filter: none;
	}
}