.lit-lay {
	color: $main_c;
	margin: 5px;
	padding: 5px;
	
	.lit-lay-part {
		.lit-lay-line-text {
			color: $green;
			font-size: 20px;
		}
	}
	.lit-lay-part.red-descr {
		.lit-lay-h-line.red-descr {
			border-color: $red;
		}
		.lit-lay-td-block.red-descr {
			color: $red;
		}
	}
	.lit-lay-part.red-content {
		.lit-lay-line-text {
			color: $red;
		}
	}
}

.lit-lay {
	filter: blur(10px);
	&.executing,
	&.executed {
		filter: none;
	}
}