$main_c: #aaa;
$bg_c  : #222;
$green : #2ba;
$red   : #f88;

body {
	color: $main_c;
	background-color: $bg_c;
	>.container {
		margin: 10px 100px 500px 100px;
		font-family: verdana, arial, sans-serif;
	}
}

details {
	summary {
		cursor: pointer;
		// margin: 2px 30px;
		margin: 0 5px;
		padding: 2px 20px;
		border-bottom: 1px solid $main_c;
		width: 100px;
		box-sizing: border-box;
		
	}
}

details[open] {
	summary {
		width: initial;
		width: 100%;
		width: calc(100% - 5px - 5px);
	}
}

details:not([open]) {
	summary {
		// transition: all .5s linear;
	}
}

@import "lit-lay-style";

.ace-plug-kit__code-wrapper {
	border-color: $main_c;
}